html {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: $baseFontSize;
	font-style: normal;

	@include tablets{
		font-size: $baseFontSize - 1px;
	}

	@include phones{
		font-size: $baseFontSize - 2px;
	}
}

body, html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.maincontent{
	height: 100%;
	transition: transform 1s;
	will-change: transform;
}

button {
	border: 0;
	cursor: pointer;
	background: transparent;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

address{
	font-style: normal;
}

menu{
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}


.container {
	width: 99%;
	height: 100%;
	max-width: $containerWidth;
	margin: 0 auto;
	position: relative;
}

.title{
	font-weight: 700;
	font-size: rem(48px);
	line-height: rem(58px);
	text-transform: uppercase;
	&--dark{
		color: $colorBlack;
	}
}

.btn{
	padding: rem(21px) rem(41px);
	color: #000;
	background-color: #FEDB3F;
	border-radius: rem(100px);
	text-transform: uppercase;
	font-weight: 800;
	font-size: rem(16px);
	line-height: rem(18px);
	align-self: flex-start;
	border: none;
	cursor: pointer;
	&--clear{
		background-color: transparent;
		text-transform: none;
		color: #fff;
		font-weight: 400;
		line-height: rem(22px);
	}
}

.feature{
	display: flex;
	align-items: center;
	&__image{
		margin-right: rem(14px);
		width: 35px;
		height: 35px;
	}
	&__desc{
		width: 50%;
	}
}