@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
html {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body, html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

address {
  font-style: normal;
}

menu {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container {
  width: 99%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  text-transform: uppercase;
}
.title--dark {
  color: #292929;
}

.btn {
  padding: 1.1666666667rem 2.2777777778rem;
  color: #000;
  background-color: #FEDB3F;
  border-radius: 5.5555555556rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8888888889rem;
  line-height: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: none;
  cursor: pointer;
}
.btn--clear {
  background-color: transparent;
  text-transform: none;
  color: #fff;
  font-weight: 400;
  line-height: 1.2222222222rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature__image {
  margin-right: 0.7777777778rem;
  width: 35px;
  height: 35px;
}
.feature__desc {
  width: 50%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 9%;
}
@media screen and (max-width: 768px) {
  .header {
    background: #1968B1;
    margin: 0 -1%;
    height: 91px;
    padding-bottom: 0;
  }
}

.logo {
  width: 56px;
  height: 39px;
  color: #FFFFFF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 3%;
}
@media screen and (max-width: 768px) {
  .logo {
    margin: 1.4444444444rem 1.9444444444rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  padding-right: 1.2222222222rem;
  font-weight: 700;
  line-height: 1.1111111111rem;
  white-space: nowrap;
}
.menu__item:last-child {
  padding-right: 0;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 1.2222222222rem;
  line-height: 1rem;
  white-space: nowrap;
}
.phone__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-right: 0.3333333333rem;
}
.phone__img {
  width: 13px;
  height: 14px;
}
@media screen and (max-width: 768px) {
  .phone {
    display: none;
  }
}

.hello {
  background: url(../img/hello-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hello {
    background-position: 75% center;
  }
}
.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 4.4444444444rem 3.3888888889rem;
}
@media screen and (max-width: 768px) {
  .hello__container {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .hello__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.hello__title {
  width: 53.5%;
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .hello__title {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .hello__title {
    width: 100%;
  }
}
.hello__subtitle {
  font-weight: 400;
  font-size: 1.1666666667rem;
  margin-bottom: 3.3333333333rem;
}
.hello__features {
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .hello__features {
    display: none;
  }
}
.hello__features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}
@media screen and (max-width: 768px) {
  .hello__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.advantages {
  height: 100vh;
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6% 4.4444444444rem;
}
@media screen and (max-width: 480px) {
  .advantages__container {
    padding: 0;
  }
}
.advantages__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__title {
  color: #292929;
  margin-bottom: 0.9444444444rem;
}
.advantages__subtitle {
  color: #666666;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2222222222rem;
  max-width: 68%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .advantages__subtitle {
    max-width: 70%;
  }
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2%;
}
@media screen and (max-width: 480px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 0.5555555556rem;
  }
}
.advantages__item:first-child {
  padding-left: 0;
}
@media screen and (max-width: 480px) {
  .advantages__item:first-child {
    padding: 0 0.5555555556rem;
  }
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child::before {
  content: none;
}
.advantages__item::before {
  content: url(../img/icons/separator.png);
  position: absolute;
  top: 2.8888888889rem;
  right: 0rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .advantages__item::before {
    display: none;
  }
}
.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .advantages__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.advantages__logo {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background: #F2F5F4;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .advantages__logo {
    padding: 3.5555555556rem 3.5555555556rem;
    margin-right: 0.6666666667rem;
  }
}
.advantages__image {
  width: 68px;
  height: 68px;
  color: #000;
  position: absolute;
  max-width: 3.7777777778rem;
  max-height: 3.7777777778rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.advantages__name {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  padding-bottom: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .advantages__name {
    padding-bottom: 0.5rem;
  }
}
.advantages__desc {
  color: #666666;
  font-weight: 300;
  line-height: 1.2222222222rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .advantages__desc {
    text-align: start;
  }
}

.offers {
  height: 100vh;
  background: #F8FAF9;
}
.offers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .offers__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}
.offers__img {
  background: url(../img/icons/offer-bg.png) no-repeat center center;
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .offers__img {
    background-size: 60%;
  }
}
@media screen and (max-width: 480px) {
  .offers__img {
    background-size: 77%;
  }
}
.offers__image {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  max-width: 8.3333333333rem;
}
@media screen and (max-width: 768px) {
  .offers__image {
    max-width: 6.4444444444rem;
  }
}
.offers__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4% 0 9%;
}
@media screen and (max-width: 768px) {
  .offers__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 75%;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}
.offers__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 0.7777777778rem;
  line-height: 0.9444444444rem;
  background: #3A587E;
  border-radius: 0.2222222222rem;
  max-width: 5.1111111111rem;
  max-height: 5.1111111111rem;
  padding: 0.9444444444rem 0.2777777778rem 0.6666666667rem;
}
.offers__parameters-image {
  width: 38px;
  height: 38px;
  color: #FFF;
  text-align: center;
  margin-bottom: 0.3888888889rem;
}
@media screen and (max-width: 768px) {
  .offers__parameters {
    display: none;
  }
}
.offers__title {
  text-transform: uppercase;
  color: #292929;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3888888889rem;
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .offers__title {
    margin-bottom: 0.7777777778rem;
  }
}
.offers__text {
  color: #666666;
  font-weight: 400;
  line-height: 1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .offers__text {
    margin-bottom: 1.3333333333rem;
  }
}
.offers__property-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .offers__property-list {
    margin-bottom: 1.3333333333rem;
  }
}
.offers__property-item {
  padding-right: 2.7777777778rem;
}
.offers__property-item:last-child {
  padding-right: 0;
}
.offers__property-title {
  color: #666666;
  font-weight: 400;
  line-height: 1.2222222222rem;
}
.offers__property-value {
  color: #000;
  font-weight: 700;
  line-height: 1.2222222222rem;
}
.offers__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.offers__price-value {
  color: #151515;
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  padding-right: 3.1666666667rem;
}

.team {
  height: 100vh;
  color: #292929;
}
.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3% 4.4444444444rem;
}
.team__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.team__item {
  width: 12.2222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .team__image {
    display: none;
  }
}
.team__link {
  font-weight: 700;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
}
.team__link::after {
  content: url(../img/icons/arrow.png);
  padding-left: 0.2222222222rem;
}
.team__desc {
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.team__content {
  text-align: center;
  height: 3.8888888889rem;
}
.team__prof {
  font-weight: 400;
  line-height: 1.2222222222rem;
}
.team__work {
  color: #666666;
  font-weight: 300;
  line-height: 1.2222222222rem;
}

.slider {
  height: 100vh;
  background: url(../img/Slider.png) no-repeat;
  background-size: cover;
}

.reviews {
  height: 100vh;
}
.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.4444444444rem 4.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.2222222222rem;
  }
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1.8333333333rem;
  }
}
.reviews__content {
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.3333333333rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.1111111111rem 1.3333333333rem 1.1111111111rem;
    margin-bottom: 1.7777777778rem;
  }
}
.reviews__image {
  max-width: 14.0555555556rem;
}
@media screen and (max-width: 768px) {
  .reviews__image {
    max-width: 7.2222222222rem;
  }
}
.reviews__report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  padding-right: 6%;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .reviews__report {
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
}
.reviews__subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7777777778rem;
  padding-top: 5%;
}
.reviews__text {
  font-weight: 400;
  line-height: 1.2222222222rem;
  padding-bottom: 2%;
}
.reviews__name {
  font-weight: 500;
  line-height: 1.3333333333rem;
  padding-bottom: 3%;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__item {
  margin-right: 0.3333333333rem;
  width: 4.7777777778rem;
  height: 4.7777777778rem;
}
.reviews__item:last-child {
  margin-right: 0;
}
.reviews__link {
  overflow: hidden;
}
.reviews__logo {
  border-radius: 50%;
  border: 0.3333333333rem solid transparent;
  overflow: hidden;
}
.reviews__link--active .reviews__logo {
  border: 0.3333333333rem #FEDB3F solid;
}

.work {
  height: 100vh;
  background: #F8FAF9;
}
.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .work__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.work__title {
  padding-top: 4%;
}
@media screen and (max-width: 768px) {
  .work__title {
    margin-bottom: 1.7222222222rem;
  }
}
.work__video {
  padding-bottom: 9%;
}

.order {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 43, 43, 0.4)), to(rgba(43, 43, 43, 0.4))), url(../img/order-bg.jpg);
  background: linear-gradient(rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url(../img/order-bg.jpg);
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .order {
    background-position: 43% center;
  }
}
.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4.4444444444rem;
}
@media screen and (max-width: 768px) {
  .order__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .order__container {
    padding: 0;
  }
}
.order__title {
  margin-top: 2%;
}
@media screen and (max-width: 768px) {
  .order__title {
    margin-bottom: 1.6666666667rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 27.7777777778rem;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.7777777778rem;
  }
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6666666667rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.6666666667rem;
}
.form__block:last-child {
  margin-right: 0;
}
.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  border-radius: 0.2222222222rem;
  border: 0.1666666667rem transparent solid;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
  }
}
.form__input:focus {
  border: 0.1666666667rem solid #FEDB3F;
  outline: none;
}
.form__input--text {
  height: 8.4444444444rem;
  resize: none;
  padding-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__input--text {
    height: 4.5555555556rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .form__controls {
    padding-top: 2%;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .form__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 0.5555555556rem;
}
.radio:last-child {
  padding-right: 0;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  display: none;
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  position: absolute;
  background: #FEDB3F;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio--checkbox {
  padding-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    padding-bottom: 2.1111111111rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url(../img/icons/checked.png) center center no-repeat;
}
.radio__title {
  padding-left: 0.5555555556rem;
}

.map {
  height: 100vh;
  background: url(../img/map.png);
  background-size: cover;
}

.footer {
  color: #292929;
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8333333333rem 4.4444444444rem 1.5555555556rem;
}
@media screen and (max-width: 768px) {
  .footer__container {
    padding-left: 1.6666666667rem;
    padding-right: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__location {
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1.3333333333rem;
  padding-bottom: 0.3333333333rem;
}
.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .footer__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.1111111111rem;
  }
}
.footer__phone-img {
  width: 12px;
  height: 12px;
  margin-right: 0.3888888889rem;
}
.footer__phone-desc {
  font-weight: 400;
  font-size: 1.1666666667rem;
  line-height: 1.1666666667rem;
}
.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__socials-item {
  margin-right: 0.5rem;
}
.footer__socials-item:last-child {
  margin-right: 0;
}
.footer__socials-image {
  width: 20px;
  height: 20px;
  color: #B3B3B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__socials-image:hover {
  color: #292929;
}

.hamburger {
  height: 24px;
  width: 26px;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
.hamburger__plank {
  display: block;
  height: 4px;
  background: #FFF;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.fullscreen-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .fullscreen-menu {
    z-index: 1000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: #313131;
  }
}
@media screen and (max-width: 768px) {
  .fullscreen-menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.fullscreen-menu__close {
  position: absolute;
  right: 2.3333333333rem;
  top: 2.3333333333rem;
}
.fullscreen-menu__cross {
  height: 1.1111111111rem;
  width: 20px;
}

.menu--vertical {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 72px;
}
.menu--vertical .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28.3333333333rem;
}
.menu--vertical .menu__list .menu__item {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}