.advantages{
  height: 100vh;
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 6% rem(80px);
    @include phones{
      padding: 0;
    }
  }
  &__header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    color: $colorBlack;
    margin-bottom: rem(17px);
  }
  &__subtitle{
    color: $colorGrey;
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(22px);
    max-width: 68%;
    text-align: center;
    @include tablets{
      max-width: 70%;
    }
  }
  &__list{
    display: flex;
    padding-bottom: 2%;
    @include phones{
      flex-direction: column;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 3%;
    position: relative;
    @include phones{
      flex-direction: row;
      padding: 0 rem(10px);
    }
    &:first-child{
      padding-left: 0;
      @include phones{
        padding: 0 rem(10px);
    }
    }
    &:last-child{
      padding-right: 0;
      &::before{
        content: none;
      }
    }
    &::before{
      content: url(../img/icons/separator.png);
      position: absolute;
      top: rem(52px);
      right: rem(0px);
      transform: translateX(50%);
      @include tablets{
        display: none;
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones{
      align-items: flex-start;
    }
  }
  &__logo{
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    background: #F2F5F4;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-bottom: rem(20px);
    @include phones{
      padding: rem(64px) rem(64px);
      margin-right: rem(12px);
    }
  }
  &__image{
    width: 68px;
    height: 68px;
    color: #000;
    position: absolute;
    max-width: rem(68px);
    max-height: rem(68px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__name{
    color:$colorBlack;
    font-weight: 700;
    font-size: rem(27px);
    line-height: rem(32px);
    padding-bottom: rem(20px);
    @include phones{
      padding-bottom: rem(9px);
    }
  }
  &__desc{
    color: $colorGrey;
    font-weight: 300;
    line-height: rem(22px);
    text-align: center;
    @include phones{
      text-align: start;
    }
  }
}