.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 9%;
  @include tablets{
    background: #1968B1;
    margin: 0 -1%;
    height: 91px;
    padding-bottom: 0;
  }
}

.logo{
  width: 56px;
  height: 39px;
  color: #FFFFFF;
  flex-shrink: 0;
  margin-right: 3%;
  @include tablets{
    margin: rem(26px) rem(35px);
  }
}

.menu__list{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  @include tablets{
    display: none;
  }
}

.menu__item{
  padding-right: rem(22px);
  font-weight: 700;
  line-height: rem(20px);
  white-space: nowrap;
  &:last-child{
    padding-right: 0;
  }
}

.phone{
  display: flex;
  font-weight: 700;
  font-size: rem(22px);
  line-height: rem(18px);
  white-space: nowrap;
  &__image{
    flex-shrink: 0;
    padding-right: rem(6px);
  }
  &__img{
    width: 13px;
    height: 14px;
  }

  @include tablets{
    display: none;
  }
}


