.hello{
  background:url(../img/hello-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 80px 61px;
  }
  &__logo{
    margin-right: 3%;
  }
  &__title{
    width: 53.5%;
    margin-bottom: 17px;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 60px;
  }
  &__features{
    padding-top: 5%;
  }
  &__features-list{
    display: flex;
    align-items: center;
    padding-right: 46%;
  }

}
