.hello{
  background:url(../img/hello-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  @include tablets{
    background-position: 75% center;
  }
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(27px) rem(80px) rem(61px);
    @include tablets{
      padding: 0;
    }
  }
  &__content{
    @include tablets{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  &__title{
    width: 53.5%;
    margin-bottom: rem(17px);
    @include tablets{
      width: 90%;
    }
    @include phones{
      width: 100%;
    }
  }
  &__subtitle{
    font-weight: 400;
    font-size: rem(21px);
    margin-bottom: rem(60px);
  }
  &__features{
    padding-top: 5%;
    @include tablets{
      display: none;
    }
  }
  &__features-list{
    display: flex;
    align-items: center;
    width: 75%;
  }
  &__btn{
    @include tablets{
      align-self: center;
    }
  }

}
