.offers{
  height: 100vh;
  background: #F8FAF9;
  &__container{
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  &__img{
    background: url(../../img/icons/offer-bg.png) no-repeat center center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__image{
    transform: rotate(30deg);
    max-width: 150px;
  }
  &__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 210px 0;
  }
  &__parameters{
    font-weight: 700;
    font-size: 14.0121px;
    line-height: 17px;
    background: #3A587E;
    border-radius: 4px;
    max-width: 92px;
    max-height: 92px;
    padding: 17px 5px 12px;
    &-image{
      margin: auto;
      margin-bottom: 7px;
    }
  }
  &__title{
    text-transform: uppercase;
    color: $colorBlack;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }
  &__text{
    color: $colorGrey;
    font-weight: 400;
    line-height: 22px;
  }
  &__property-list{
    display: flex;
  }
  &__property-item{
    padding-right: 50px;
    &:last-child{
      padding-right: 0;
    }
  }
  &__property-title{
    color: $colorGrey;
    font-weight: 400;
    line-height: 22px;
  }
  &__property-value{
    color: #000;
    font-weight: 700;
    line-height: 22px;
  }
  &__price{
    display: flex;
    &-value{
      color: #151515;
      font-weight: 300;
      font-size: 60px;
      line-height: 60px;
      padding-right: 30px;
    }
  }
}