.bx-wrapper{
  box-shadow: none;
  border: none;
  background: none;
  & img {
    max-width: rem(150px);
    @include tablets{
      max-width: rem(116px);
    }
    @include phones{
      max-width: rem(92px);
    }
  }
}
.offers{
  height: 100%;
  background: #F8FAF9;
  position: relative;
  overflow: hidden;
  &__arrows{
    height: 27px;
    width: 13.5px;
  }
  &__left{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1000;
    @include tablets{
      top: 29%;
      left: 17%;
    }
  }
  &__right{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1000;
    @include tablets{
      top: 29%;
      right: 17%;
    }
  }
  &__container{
    display: flex;
    align-items: center;
    @include tablets{
      align-items: center;
      justify-content: normal;
    }
  }
  &__item{
    display: flex;
    @include tablets{
      flex-direction: column;
      align-items: center;
    }
  }
  &__img{
    background: url(../img/icons/offer-bg.png) no-repeat center center;
    background-size: 88%;
    @include tablets{
      background-size: 60%;
    }
    @include phones{
      background-size: 77%;
    }
    width: 67%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__image{
    transform: rotate(30deg);
  }
  &__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 4% 0 9%;
    margin-right: rem(34px);
    @include tablets{
      align-items: center;
      text-align: center;
      flex: 1;
      width: 75%;
      justify-content: normal;
    }
  }
  &__parameters{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: rem(14px);
    line-height: rem(17px);
    background: #3A587E;
    border-radius: rem(4px);
    max-width: rem(92px);
    max-height: rem(92px);
    padding: rem(17px) rem(5px) rem(12px);
    margin-bottom: rem(52px);
    position: relative;
    &-image{
      width: 38px;
      height: 38px;
      color: #FFF;
      text-align: center;
      margin-bottom: rem(7px);
    }
    @include tablets{
      display: none;
    }
    &:hover .offers__character{
      left: 90px;
      opacity: 1;
    }
  }
  &__character{
    position: absolute;
    background:rgba(255, 255, 255, 0.8);
    width: 273px;
    height: 291px;
    left: -9999px;
    top: 0;
    border-radius: 4px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    opacity: 0;
  }
  &__title{
    text-transform: uppercase;
    color: $colorBlack;
    font-weight: 700;
    font-size: rem(36px);
    line-height: rem(43px);
    margin-bottom: rem(24px);
    @include tablets{
      margin-bottom: rem(14px);
    }
  }
  &__text{
    color: $colorGrey;
    font-weight: 400;
    line-height: rem(22px);
    margin-bottom: rem(24px);
    @include tablets{
      margin-bottom: rem(24px);
    }
  }
  &__property-list{
    display: flex;
    margin-bottom: rem(24px);
    @include tablets{
      margin-bottom: rem(24px);
    }
  }
  &__property-item{
    padding-right: rem(50px);
    &:last-child{
      padding-right: 0;
    }
  }
  &__property-title{
    color: $colorGrey;
    font-weight: 400;
    line-height: rem(22px);
  }
  &__property-value{
    color: #000;
    font-weight: 700;
    line-height: rem(22px);
  }
  &__price{
    display: flex;
    &-value{
      color: #151515;
      font-weight: 300;
      font-size: rem(60px);
      line-height: rem(60px);
      margin-right: rem(57px);
      white-space: nowrap;
    }
  }
}

.character{
  &__list{
    display: flex;
    flex-direction: column;
    padding: 28px 25px 30px 30px;
  }
  &__item{
    color: #000;
    display: flex;
    margin-bottom: 28px;
  }
  &__img{
    color: #010002;
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(16px);
  }
  &__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  &__value{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    flex:1;
    text-align: right;
  }
}