.order{
  height: 100%;
  background: linear-gradient(rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url(../img/order-bg.jpg);
  background-size: cover;
  @include tablets{
    background-position: 43% center;
  }
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 rem(80px);
    @include tablets{
      justify-content: center;
    }
    @include phones{
      padding: 0;
    }
  }
  &__title{
    margin-top: 2%;
    @include tablets{
      margin-bottom: rem(30px);
    }
  }
}
.form{
  display: flex;
  margin-bottom: 8%;
  @include tablets{
    flex-direction: column;
    width: rem(500px);
  }
  @include phones{
    width: 96%;
  }
  &__col{
    flex: 1;
    margin-right: rem(27px);
    @include tablets{
      margin-right: 0;
      margin-bottom: rem(14px);
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__row{
    display: flex;
    margin-bottom: rem(12px);
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__block{
    flex: 1;
    margin-right: rem(12px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__input{
    width: 100%;
    padding: rem(18px) rem(12px);
    border-radius: rem(4px);
    border: rem(3px) transparent solid;
    @include tablets{
      padding: rem(8px) rem(10px);
    }
    &:focus{
      border: rem(3px) solid #FEDB3F;
      outline: none;
    }
    &--text{
      height: rem(152px);
      resize: none;
      padding-bottom: rem(40px);
      @include tablets{
        height: rem(82px);
      }
    }
  }
  &__controls{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    @include tablets{
      padding-top: 2%;
    }
    @include phones{
      justify-content: center;
    }
  }
  &__btn{
    @include tablets{
      display: flex;
      justify-content: center;
    }
  }
}

.radio{
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding-right: rem(10px);
  &:last-child{
    padding-right: 0;
  }
  &__elem{
    display: none;
    &:checked ~ .radio__visible{
      &::before{
        display: block;
      }
    }
  }
  &__visible{
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    &::before{
      display: none;
      content: "";
      width: rem(13px);
      height: rem(13px);
      position: absolute;
      background: #FEDB3F;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &--checkbox{
    padding-bottom: rem(20px);
    @include tablets{
      padding-bottom: rem(38px);
    }
    .radio__visible{
      border-radius: rem(4px);
      &::before{

        background: url(../img/icons/checked.png) center center no-repeat;
      }
    }
  }
  &__title{
    padding-left: rem(10px);
  }
}