.reviews{
  height: 100vh;
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: rem(62px) rem(80px);
    @include tablets{
      justify-content: center;
      padding: 0 rem(22px);
    }
  }
  &__title{
    @include tablets{
      margin-bottom: rem(33px);
    }
  }
  &__content{
    background: #F8FAF9;
    display: flex;
    justify-content: space-between;
    padding: rem(42px);  
    color:$colorBlack;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    &.active{
      position: static;
      opacity: 1;
    } 
    @include tablets{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: rem(56px) rem(24px) rem(20px);
      margin-bottom: rem(32px);
    }
  }
  &__image{
    max-width: rem(253px);
    @include tablets{
      max-width: rem(130px);
    }
  }
  &__report{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 60%;
    padding-right: 6%;
    margin-right: 5%;
    @include tablets{
      padding: 0;
      margin: 0;
      align-items: center;
      width: 100%;
      text-align: center;
    }
  }
  &__subtitle{
    font-weight: 700;
    font-size: rem(27px);
    line-height: rem(32px);
    padding-top: 5%;
  }
  &__text{
    font-weight: 400;
    line-height: rem(22px);
    padding-bottom: 2%;
  }
  &__name{
    font-weight: 500;
    line-height: rem(24px);
    padding-bottom: 3%;
  }
  &__list{
    display: flex;
  }
  &__item{
    margin-right: rem(6px);
    width: rem(86px);
    height: rem(86px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    overflow: hidden;

  }
  &__logo{
    border-radius: 50%;
    border: rem(6px) solid transparent;
    overflow: hidden;
  }
  &__link--active &__logo{
    border: rem(6px) #FEDB3F solid;
  }
}